{% extends "base/base.html" %}

{% block contenido %}
	<form method="GET">
		<div class="row">
			<div class="col">
				<input class="form-control" type="search" name="nombre_producto" value="{{nombre_producto}}">
			</div>
			<div class="col">
				<button type="submit" class="btn btn-outline-success">Buscar</button>
			</div>
		</div>
		
	</form>	
	<div class="row">	
		<div class="blog-main">
			<div class="row mb-2">
				{% for p in lista_productos %}
					<div class="col-md-6">
						{% include "productos/includes/bloque_producto.html" %}
					</div>
				{% empty %}
					<li>No existen productos</li>	
				{% endfor %}
			</div>

			<div class="row">
				{% include "includes/paginador.html" %}
			</div>

		</div>
	</div>
{% endblock contenido %}